[run]
branch = True
concurrency = multiprocessing
parallel = True
relative_files = True

omit =
    *test.py

data_file = coverage-reports/report

[report]
ignore_errors = True

exclude_lines =
    pragma: no cover
    raise NotImplementedError

[html]
directory = coverage-reports/

[xml]
output = coverage-reports/coverage.xml

